body{
    display: flex;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLjY_WNiy-CXYfksi6gkBP_aKvaMQGzMToA&usqp=CAU');
    background-size: 100%;
    height:800px;
}