

<body>

    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;

    <div class="container">
     
    <div class="row mb-3  " style="display:flex">
        
        
      <div class="col">
        <div class="card" style="width: 20rem; height: 20rem;">
         
            <div class="card-body" routerLink="/onSale">
              <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Crop Details</b></div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm1bK9KOCK5CUrt84b0WyxeQM5PvqI8MSLfA&usqp=CAU;">
             
            </div>
          
        </div>
      </div>

       
    
      <div class="col">
          
          <div class="card" style="width: 20rem;height: 20rem;">
            <div class="card-body" routerLink="/update-user">
              <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Update Profile</b></div>
              <img src="https://th.bing.com/th/id/R.812e675397852727692c2787c73426b4?rik=rpKKgsSbQWjXOg&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fRcG%2fEqb%2fRcGEqbnXi.png&ehk=XdTton2RbijqQysZ2nIpHp8EsND0SU1ggf6LXrhkUQk%3d&risl=&pid=ImgRaw&r=0" height="100" width="100" style="padding:17px;">

            </div>
          </div>
        </div> 
      </div> 


        
        
        <div class="col">
         
          <div class="card " style="width: 20rem;height: 20rem;">
            <div class="card-body" routerLink="/sales">
              <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Invoice Details</b></div>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVzFJer0HyGQwZn7S9IUNucwFHoSgE35BDhg&usqp=CAU">
            </div>
          </div>
        </div>


        <div class="col">
         
          <div class="card  " style="width: 20rem;height: 20rem;">
            <div class="card-body" routerLink="/orders">
              <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Order Details</b></div>
              <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjQwJwSL5oCMCNQOOZQxVUCxZ5uaStnnWloA&usqp=CAU;'>
    
            </div>
          </div>
        </div>
        
    
    
       <!-- </div> -->
    </div>
   
        
    </body>
    
