body{
    display: flex;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe4MSQK70nFrWXYjdNRD-_Cir3Hp0B2a4UFQ&usqp=CAU');
    background-size: cover;
}
.btn-danger{
    height: 50px;
    width:50px;
}
.container{
    margin-top: 6rem;
    padding-bottom: 20%;
    margin-right:auto;
}
.card1{
    margin-top: 2rem;

}
img{
    width:18rem;
    height:16rem;
}
.img-banner{
    width:30rem;
}
.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card1:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card{
    border:2px solid rgba(13, 196, 210, 0.516);
}



  .col{
    display: inline-block;
    padding: 1rem 10rem;
    vertical-align: middle;
  }