<body>

<div class="container">
    <div class="row mb-3" style="display:flex">
        <div class="col">
    <div class="card" style="width: 20rem; height: 20rem;">
     
        <div class="card-body" routerLink="/crop">
          <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Avaialble Crops</b></div>
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZrd6ajlx49JJ3MloTxBCY6X3RYgz44UqUeA&usqp=CAU">
          
        </div>
      </div>
    </div>
     

    <div class="col">
      <div class="card" style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/status">
          <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">User-Status</b></div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmJUeQCIV5gK-gudX5l3OIhRcmgnbtGDhExw&usqp=CAU;">
          
        </div>
      </div>
    </div>

    <div class="col">
         
      <div class="card " style="width: 20rem;height: 20rem;">
        <div class="card-body" routerLink="/sales">
          <div class="card-label" style="z-index: -1; text-align: center;"><b style="font-size:30px;">Invoice Details</b></div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVzFJer0HyGQwZn7S9IUNucwFHoSgE35BDhg&usqp=CAU">
        </div>
      </div>
    </div>
</div>
</div>
    
</body>
